.test{
    color: hotpink;
}

.container{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.box1{
    width: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(240, 70%, 80%);
}

.box2{
    width: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsl(240, 70%, 80%);
}

.box3{
    width: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: end;
    background-color: hsl(240, 70%, 80%);
}